
@font-face {
    font-family: 'ModernDOS8x8';
    src: url('fonts/ModernDOS/ModernDOS8x8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nippo';
    src: url('fonts/Nippo-Variable.ttf') format('truetype');
}


@font-face {
    font-family: 'Cascadia';
    src: url(/fonts/Cascadia.ttf) format('truetype');
}


@font-face {
    font-family: 'Jersey 15';
    src: url(/fonts/Jersey_15/Jersey15-Regular.ttf) format('truetype');
}



.language-javascript{
    color: #0F0;
}



/* Stili per il canvas Matrix Rain */
#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Assicura che il canvas sia dietro agli altri contenuti */
    background-color: black; /* Sfondo nero per l'effetto Matrix */
}

/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Jersey 15';
    font-size: large;
    color: #fff;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}
body{
    background-color: rgba(0, 0, 0, 0.0);
}

/* Navbar Styles */
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center; /* Centra gli elementi orizzontalmente */
    align-items: center;     /* Centra gli elementi verticalmente */
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


/* Rimosso il logo dalla navbar */

.nav-links {
    padding-left: 0px;
    list-style: none;
    display: flex;
    gap: 20px; /* Spazio tra i link di navigazione */
}


.nav-links a {
    color: #0F0;
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFF;
}

/* Hamburger Menu (Mobile) */
.hamburger {
    display: none; /* Nascondi per schermi grandi */
    flex-direction: column;
    cursor: pointer;
    top: 20px;
    padding: 20px;
    /* Rimozione del posizionamento assoluto dal base */
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #0F0;
    margin-bottom: 4px;
    transition: all 0.3s linear;
}

/* Responsive Navbar */
@media (max-width: 768px) {

    #blog{
        width: 90vi;
        margin: auto;
        margin-top: 30%;
    }
    
    .container-white{
        width: 70vi;
    }

    .nav-links {
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
        position: fixed;
        top: 40px; /* Posizionato sotto il navbar */
        background-color: rgb(0, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        max-height: 0; /* Nascosto di default */
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        margin-top: 0px;
        padding-bottom: 15px;
    }

    .nav-links li {
        opacity: 0;
    }

    .hamburger {
        display: flex; /* Mostra l'hamburger sui piccoli schermi */
        position: absolute;
        top: 35px;
        left: 50%; /* Centra orizzontalmente */
        transform: translate(-50%, -50%); /* Centra perfettamente */
    }

    .nav-active {
        max-height: 500px; /* Altezza sufficiente per mostrare tutti i menu items */
    }

    .nav-active li {
        opacity: 1;
        transition: opacity 0.5s ease-in;
    }

    /* Animazione dell'hamburger per trasformarsi in una 'X' quando attivo */
    .hamburger.toggle span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px,4.5px);
    }

    .hamburger.toggle span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.toggle span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Section Styles */
section {
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container-white {
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding: 20px 20px 30px 20px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(0, 0, 0);
}


/* Home Section */
#home {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent; /* Assicurati che il background sia trasparente per vedere il Matrix rain */
}

#home h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #0F0;
}

#home p {
    font-size: 24px;
    max-width: 800px;
}

/* About Section */
#about {
    padding-top: 100px;
}

/* Skills Section */
#skills {
    color: #0F0;
    padding: 60px 20px;
}

#skills h2 {
    text-align: center;
    font-size: 250%;
}

.skill-category {
    margin-bottom: 40px;
}

.skill-category h3 {
    line-height: 100%;
    font-size: 200%;
    margin-bottom: 20px;
}

.skill {
    font-size: 180%;

    margin-bottom: 20px;
}

.skill span {
    font-size: 18px;
}

.progress-bar {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: #0F0;
    width: 0%;
    transition: width 1s ease-in-out;
}

/* Animazione per riempire le barre al caricamento della pagina */
@keyframes fillProgress {
    from { width: 0%; }
    to { width: var(--progress-width); }
}

.progress[data-progress] {
    --progress-width: attr(data-progress);
    animation: fillProgress 2s forwards;
}

/* Projects Section */
#projects{
    padding-top: 100px;
}

#projects .project {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

/* Blog Section */
#blog{
    padding-top: 100px;
    background-color: rgb(0, 0, 0, 0.0);
}

#blog .blog-post {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#blog .blog-post h3 a {
    color: #0F0;
    text-decoration: none;
    transition: color 0.3s;
}

#blog .blog-post h3 a:hover {
    color: #FFF;
}

/* Contact Section Styles */
#contact .container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

#contact h2 {
    text-align: center;
    color: #0F0;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 15px;
    color: #0F0;
    font-size: 32px;
    transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
    color: #FFF;
    transform: scale(1.1);
}


/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.8);
    margin-top: 100px;
}
